.tarefas{
    margin-top: 30px;
}
.tarefas li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 600ms;
}
.tarefas li .edit{
    margin-right: 15px;
    color: #7ec3fc;
}
.tarefas li .delete{
    margin-right: 15px;
    color: #f56565;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete{
    color: #000000;
}
.tarefas li:hover .edit,
.tarefas li:hover .delete{
    cursor: pointer;
    transition: all 600ms;
}

.tarefas li span{
    flex: 1;
    font-size: 20px;
}

